NODE_ENV=development
PORT=8080
DB_URL='mongodb://localhost:27017/project_express'
Cloudinary_Cloud_Name='cloudinary_cloud_name'
Cloudinary_API_Key='cloudinary_api_key'
Cloudinary_API_Secret='cloudinary_api_secret'